.single-user{
    border-top:2px solid grey;
    padding:25px;
    display:flex;
    justify-content: space-between;
}
.single-user-content{
    display:flex;
    justify-content:space-between;
    width:600px;
}