<h3>Liste des films</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Affiche</th>
      <th>Titre</th>
      <th>Année de sortie</th>
      <th> Pays</th>
      <th> Genre</th>
      <th> Oscar</th>
      <th> Réalisateur</th>
      <th> Acteurs</th>
      <th> Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Affiche</td>
      <td>Titre</td>
      <td>Année de sortie</td>
      <td> Pays</td>
      <td> Genre</td>
      <td> Oscar</td>
      <td> Réalisateur</td>
      <td> Acteurs</td>
      <td><button class="btn btn-primary" >Modifier</button></td>
    </tr>

  </tbody>
</table>